apiVersion: apps/v1
kind: Deployment
metadata:
  name: llama-stack
spec:
  replicas: {{ .Values.llamaStack.replicaCount }}
  selector:
    matchLabels:
      app: llama-stack
  template:
    metadata:
      labels:
        app: llama-stack
    spec:
      containers:
      - name: stack
        image: {{ .Values.llamaStack.image }}
        volumeMounts:
        - name: config
          mountPath: /usr/local/lib/python3.12/site-packages/llama_stack/distributions/starter/run.yaml
          subPath: run.yaml
        ports:
        - containerPort: {{ .Values.llamaStack.port }} 
        resources: {{ toYaml .Values.llamaStack.resources | nindent 10 }}
        env:
            - name: LLAMA_STACK_PORT
              value: "8000"
      volumes:
      - name: config
        configMap:
          name: llama-stack-config 
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: llama-stack-config
data:
  config.yaml: |
    model:
      backend: llamacpp
      endpoint: http://{{ .Values.model.name }}:{{ .Values.model.port }}  

    vector_store:
      provider: qdrant
      qdrant:
        url: http://{{ .Values.ragDatabase.name }}:{{ .Values.ragDatabase.port }}
        collection_name: {{ .Values.ragDatabase.collectionName }}
---
apiVersion: v1
kind: Service
metadata:
    name: llama-stack
spec:
    selector: 
        app: llama-stack
    ports:
    - port: {{ .Values.llamaStack.port }}
      targetPort: {{ .Values.llamaStack.port }}
