apiVersion: apps/v1
kind: Deployment
metadata:
  name: open-webui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: open-webui
  template:
    metadata:
      labels:
        app: open-webui
    spec:
      containers:
        - name: open-webui
          image: ghcr.io/open-webui/open-webui:latest
          ports:
            - containerPort: {{ .Values.openWebUi.containerPort }}
          env:
            - name: OPENAI_API_BASE_URL
              value: {{ .Values.openWebUi.openAiApiBaseUrl }}
            - name: OPENAI_API_KEY
              value: "none"
            - name: ENABLE_PERSISTENT_CONFIG
              value: "false"
            - name: WEBAUI_AUTH
              value: "False"
---
apiVersion: v1
kind: Service
metadata:
  name: open-webui
spec:
  selector:
    app: open-webui
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ .Values.openWebUi.containerPort }}
      name: http
  type: LoadBalancer
